@charset "utf-8";
/*===============================================
リセット
===============================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin: 0; padding: 0;} table{ border-collapse: collapse; border-spacing: 0;} img{ border: none; vertical-align: bottom;} address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display: block;}
a{ text-decoration: none; color: #111111;} a:hover{ text-decoration: underline;} label{ cursor: pointer;}
/*===============================================
共通
===============================================*/
body{
  color: #333;
  line-height: 1.6;
}

#stage {
  margin: 100px auto 0;
  width: 900px;
  height: 450px;
  background: url(img/alien-5659067_960_720.jpg) no-repeat;
  position: relative;
  overflow: hidden;
}
#text {
  margin:10px auto;
  width: 800px;
}
#count,#score,#setume,#setum,#setu,#setumet {
  margin-left: 15px;
  font-size:18px;
  line-height:1;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  float: right;
}
#count span,#score span {
  font-size:28px;
}
.UFO {
  width: 30px;
  height: 30px;
  background: url(img/) top no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 800px;
  top: 450px;
  opacity: 0;
}
#start {
  margin: -160px 0 0 -300px;
  position: absolute;
  top: 60%;
  left: 60%;
  cursor: pointer;
}
#start:hover {
  opacity: 0.8;
}
